## Bibliotecas y lectura de datos

In [2]:
import numpy as np
import pandas as pd 
df = pd.read_csv("vehicles_short.csv", index_col="id")

## Forma de Datos

In [3]:
df.head(7)

,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
id,,,,,,,,,,,,,,,,,,,,,
7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN

In [5]:
print(df.shape)
print(df.columns)

(42687, 25)
Index(['url', 'region', 'region_url', 'price', 'year', 'manufacturer', 'model',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [6]:
print(df.nunique(axis=0))
df.describe().apply(lambda s: s.apply (lambda x: format (x, 'f')))

url             42687
region             50
region_url         50
price            4113
year              101
manufacturer       40
model            7399
condition           6
cylinders           8
fuel                5
odometer        19024
title_status        6
transmission        3
VIN             15803
drive               3
size                4
type               13
paint_color        12
image_url       28933
description     36087
county              0
state              14
lat              5862
long             5914
posting_date    40982
dtype: int64

,price,year,odometer,county,lat,long
count,42687.000000,42472.000000,41935.000000,0.000000,42549.000000,42549.000000
mean,166452.437463,2011.316350,97731.428282,nan,37.186429,-113.217436
std,17119861.242880,10.291418,300390.579029,nan,7.611498,16.493901
min,0.000000,1900.000000,0.000000,nan,-81.838232,-158.599600
25%,6000.000000,2008.000000,33398.000000,nan,33.695466,-120.938713
50%,14995.000000,2014.000000,78000.000000,nan,34.591700,-117.531948
75%,27590.000000,2017.000000,126331.000000,nan,37.600004,-110.874594
max,3009548743.000000,2022.000000,10000000.000000,nan,82.390818,173.885502

In [7]:
df.condition.unique()
#df.['condition'].unique() -> funciona igual que el de arriba

array([nan, 'good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

In [8]:
df_limpio = df.copy().drop(['url','region_url', 'image_url'], axis=1)
print(df_limpio.nunique(axis=0))

df_limpio.describe().apply(lambda s: s.apply (lambda x: format (x, 'f')))

region             50
price            4113
year              101
manufacturer       40
model            7399
condition           6
cylinders           8
fuel                5
odometer        19024
title_status        6
transmission        3
VIN             15803
drive               3
size                4
type               13
paint_color        12
description     36087
county              0
state              14
lat              5862
long             5914
posting_date    40982
dtype: int64

,price,year,odometer,county,lat,long
count,42687.000000,42472.000000,41935.000000,0.000000,42549.000000,42549.000000
mean,166452.437463,2011.316350,97731.428282,nan,37.186429,-113.217436
std,17119861.242880,10.291418,300390.579029,nan,7.611498,16.493901
min,0.000000,1900.000000,0.000000,nan,-81.838232,-158.599600
25%,6000.000000,2008.000000,33398.000000,nan,33.695466,-120.938713
50%,14995.000000,2014.000000,78000.000000,nan,34.591700,-117.531948
75%,27590.000000,2017.000000,126331.000000,nan,37.600004,-110.874594
max,3009548743.000000,2022.000000,10000000.000000,nan,82.390818,173.885502

In [10]:
df_limpio-isna().sum()
NA_val = df_limpio.isna().sum()
def filtro_na(na, umbral=0.3): 
    col_pass=[]
    for i in na.key():
        if na[i]/df_limpio.shape[0]<umbral:
            col_pass-append(i)
    return col_pass
df_limpio = df_limpio(filtro_na(NA_val))

NameError: name 'isna' is not defined

In [11]:
df_limpio.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'VIN',
       'drive', 'size', 'type', 'paint_color', 'description', 'county',
       'state', 'lat', 'long', 'posting_date'],
      dtype='object')

In [16]:
df_limpio = df_limpio[df_limpio['price'].between(200, 100000)] #Rango de 200 a 100000
df_limpio = df_limpio[df_limpio[['odometer']<200000.0]]

KeyError: 'price'

In [1]:
# calculate correlation matrix
corr = df_cleaned.corr()# plot the heatmap
sns.heatmap(corr, xticklabels=corr.columns,
yticklabels=corr.columns, annot=True,
cmap= sns.diverging_palette(220, 20, as_cmap=True))

NameError: name 'df_cleaned' is not defined

In [ ]:
# calculate correlation matrix
corr = df_cleaned.corr()# plot the heatmap
sns.heatmap(corr, xticklabels=corr.columns,
yticklabels=corr.columns, annot=True,
cmap= sns.diverging_palette(220, 20, as_cmap=True))

NameError: name 'df_cleaned' is not defined

In [ ]:
# calculate correlation matrix
corr = df_cleaned.corr()# plot the heatmap
sns.heatmap(corr, xticklabels=corr.columns,
yticklabels=corr.columns, annot=True,
cmap= sns.diverging_palette(220, 20, as_cmap=True))

NameError: name 'df_cleaned' is not defined